In [1]:
import pandas as pd
import numpy as np
import os
import random

from catboost import CatBoostClassifier,CatBoostRegressor
from xgboost import XGBClassifier
import lightgbm as lgb

In [2]:
data_dir = '/opt/ml/input/data'
train_data = os.path.join(data_dir, 'train_data.csv')
test_data = os.path.join(data_dir, 'test_data.csv')
train_df = pd.read_csv(train_data, parse_dates=['Timestamp'])
test_df = pd.read_csv(test_data, parse_dates=['Timestamp'])

#둘 중에 하나 선택
df = pd.concat([train_df, test_df])
#df = pd.concat([train_df, test_df[test_df['answerCode']!=-1]])

df = df.sort_values(by=['userID', 'Timestamp']).reset_index()
df.drop(['index'], axis=1, inplace=True)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2526700 entries, 0 to 2526699
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   userID            int64
 1   assessmentItemID  object
 2   testId            object
 3   answerCode        int64
 4   Timestamp         datetime64[ns]
 5   KnowledgeTag      int64
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 115.7+ MB

In [4]:
df.isna().sum()

userID              0
assessmentItemID    0
testId              0
answerCode          0
Timestamp           0
KnowledgeTag        0
dtype: int64

In [5]:
df['userID'].nunique()

7442

# CatBoost 사용을 위한 Feature engineering

-> assessmentItemID에 testID의 정보가 모두 담겨져 있으므로, 필요 없음.
-> assessmentItemID에 앞의 3자리에서 가운데 숫자가 0~9로 포진되어있음 -> 분류로 사용가능.


후보
1. 시험지 종류
2. 문제 종류
3. 과거에 그 문제를 푼 횟수
4. 과거에 그 문제를 맞춘 횟수
5. 학생 별 정답률
6. 문제 별 정답률 
7. 문제 풀이 소요 시간
8. 학생 별 평균 문제 풀이 시간
9. 문제 별 평균 문제 풀이 시간
10. 최근 문제 풀이 정답 여부(5~10개 정도)
11. 학생 별 태그 정답률
12. 태그 별 정답률
13. 과거에 그 태그를 푼 횟수
14. 과거에 그 태그를 맞춘 횟수

In [6]:
df

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225
4,0,A060001005,A060000001,1,2020-03-24 00:17:36,7225
...,...,...,...,...,...,...
2526695,7441,A030071005,A030000071,0,2020-06-05 06:50:21,438
2526696,7441,A040165001,A040000165,1,2020-08-21 01:06:39,8836
2526697,7441,A040165002,A040000165,1,2020-08-21 01:06:50,8836
2526698,7441,A040165003,A040000165,1,2020-08-21 01:07:36,8836
2526699,7441,A040165004,A040000165,1,2020-08-21 01:08:49,8836

In [7]:
df.groupby('userID').last()

,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
userID,,,,,
0,A080129006,A080000129,0,2020-12-23 03:40:19,2725
1,A090074006,A090000074,1,2020-11-13 02:47:20,2648
2,A050139007,A050000139,0,2020-10-20 11:32:26,428
3,A050133008,A050000133,-1,2020-10-26 13:13:57,5289
4,A070146008,A070000146,-1,2020-12-27 02:47:54,9080
...,...,...,...,...,...
7437,A060003007,A060000003,0,2020-05-22 01:53:49,7226
7438,A030188005,A030000188,1,2020-10-19 10:28:29,1934
7439,A040130005,A040000130,-1,2020-10-14 23:10:03,8832
7440,A030197005,A030000197,0,2020-10-21 08:33:20,1984
7441,A040165004,A040000165,1,2020-08-21 01:08:49,8836

시험지 번호, 문제 번호 넣기.

In [8]:
df['exam_num']=df['assessmentItemID'].str[2].astype(np.int32)
df['test_num']=df['assessmentItemID'].str[4:7].astype(np.int32)
df['question_num']=df['assessmentItemID'].str[7:].astype(np.int32)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2526700 entries, 0 to 2526699
Data columns (total 9 columns):
 #   Column            Dtype
---  ------            -----
 0   userID            int64
 1   assessmentItemID  object
 2   testId            object
 3   answerCode        int64
 4   Timestamp         datetime64[ns]
 5   KnowledgeTag      int64
 6   exam_num          int32
 7   test_num          int32
 8   question_num      int32
dtypes: datetime64[ns](1), int32(3), int64(3), object(2)
memory usage: 144.6+ MB

과거 해당 문제를 맞춘 횟수

In [10]:
df['user_shift'] = df.groupby(['userID','exam_num','test_num', 'question_num'])['answerCode'].shift().fillna(0)
df['user_shift'] = df['user_shift'].astype(np.int64)
df['past_correct_answer'] = df.groupby(['userID','exam_num','test_num', 'question_num'])['user_shift'].cumsum()

In [11]:
df['past_correct_answer'].unique()

array([0, 1, 2])

In [12]:
df[df['past_correct_answer']==2]

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,exam_num,test_num,question_num,user_shift,past_correct_answer
141393,165,A090007002,A090000007,0,2020-04-23 01:11:13,4725,9,7,2,1,2
141395,165,A090007004,A090000007,0,2020-04-23 01:11:27,4697,9,7,4,1,2
141406,165,A090009001,A090000009,1,2020-04-28 01:19:28,5141,9,9,1,1,2
141407,165,A090009002,A090000009,1,2020-04-28 01:19:54,10741,9,9,2,1,2
141417,165,A090011004,A090000011,0,2020-04-29 23:30:32,9728,9,11,4,1,2
...,...,...,...,...,...,...,...,...,...,...,...
2025184,3414,A030018003,A030000018,0,2020-06-12 12:13:00,7310,3,18,3,1,2
2117859,3717,A020184001,A020000184,1,2020-09-19 09:52:46,8092,2,184,1,1,2
2117877,3717,A020188003,A020000188,1,2020-09-20 06:01:13,8096,2,188,3,1,2
2135281,3775,A020118001,A020000118,1,2020-10-23 09:03:19,8014,2,118,1,1,2
2135282,3775,A020118002,A020000118,1,2020-10-23 09:03:33,8014,2,118,2,1,2

과거에 해당 태그를 맞춘 횟수

In [13]:
df['user_tag_shift'] = df.groupby(['userID', 'KnowledgeTag'])['answerCode'].shift().fillna(0)
df['user_tag_shift'] = df['user_tag_shift'].astype(np.int64)
df['past_correct_tag_answer'] = df.groupby(['userID', 'KnowledgeTag'])['user_tag_shift'].cumsum()

In [14]:
df['past_correct_tag_answer'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61])

In [15]:
df[(df['userID']==165) & (df['exam_num']==9) & (df['test_num']==7) & (df['question_num']==2)]

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,exam_num,test_num,question_num,user_shift,past_correct_answer,user_tag_shift,past_correct_tag_answer
141201,165,A090007002,A090000007,1,2020-02-24 20:20:30,4725,9,7,2,0,0,0,0
141327,165,A090007002,A090000007,1,2020-03-20 05:20:39,4725,9,7,2,1,1,1,4
141393,165,A090007002,A090000007,0,2020-04-23 01:11:13,4725,9,7,2,1,2,0,6

In [16]:
df[(df['userID']==1) & (df['KnowledgeTag']==2111) & (df['exam_num']==4) & (df['test_num']==155) & (df['question_num']==6)]

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,exam_num,test_num,question_num,user_shift,past_correct_answer,user_tag_shift,past_correct_tag_answer
1171,1,A040155006,A040000155,0,2020-06-21 23:01:44,2111,4,155,6,0,0,0,3
1402,1,A040155006,A040000155,1,2020-08-17 10:02:07,2111,4,155,6,0,0,0,7

In [17]:
df[(df['userID']==1) & (df['KnowledgeTag']==2111) & (df['exam_num']==4)]

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,exam_num,test_num,question_num,user_shift,past_correct_answer,user_tag_shift,past_correct_tag_answer
1166,1,A040155001,A040000155,1,2020-06-21 22:57:14,2111,4,155,1,0,0,0,0
1167,1,A040155002,A040000155,1,2020-06-21 22:57:55,2111,4,155,2,0,0,1,1
1168,1,A040155003,A040000155,0,2020-06-21 22:58:33,2111,4,155,3,0,0,1,2
1169,1,A040155004,A040000155,1,2020-06-21 22:58:49,2111,4,155,4,0,0,0,2
1170,1,A040155005,A040000155,0,2020-06-21 23:00:10,2111,4,155,5,0,0,1,3
1171,1,A040155006,A040000155,0,2020-06-21 23:01:44,2111,4,155,6,0,0,0,3
1397,1,A040155001,A040000155,1,2020-08-17 09:56:27,2111,4,155,1,1,1,0,3
1398,1,A040155002,A040000155,1,2020-08-17 09:57:06,2111,4,155,2,1,1,1,4
1399,1,A040155003,A040000155,1,2020-08-17 09:58:03,2111,4,155,3,0,0,1,5
1400,1,A040155004,A040000155,1,2020-08-17 09:58:29,2111,4,155,4,1,1,1,6
1401,1,A040155005,A040000155,0,2020-08-17 09:59:40,2111,4,155,5,0,0,1,7
1402,1,A040155006,A040000155,1,2020-08-17 10:02:07,2111,4,155,6,0,0,0,7
1613,1,A040142001,A040000142,1,2020-10-14 07:41:09,2111,4,142,1,0,0,1,8
1614,1,A040142002,A040000142,1,2020-10-14 07:41:28,2111,4,142,2,0,0,1,9
1615,1,A040142003,A040000142,1,2020-10-14 07:44:13,2111,4,142,3,0,0,1,10
1616,1,A040142004,A040000142,1,2020-10-14 07:45:17,2111,4,142,4,0,0,1,11
1617,1,A040142005,A040000142,1,2020-10-14 07:45:57,2111,4,142,5,0,0,1,12

과거에 해당 문제를 푼 횟수(틀렸는지 맞았는지 상관 X)

In [18]:
df['past_solve_problem'] = df.groupby(['userID','exam_num','test_num', 'question_num']).cumcount()

In [19]:
df[(df['userID']==165) & (df['exam_num']==9) & (df['test_num']==7) & (df['question_num']==2)]

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,exam_num,test_num,question_num,user_shift,past_correct_answer,user_tag_shift,past_correct_tag_answer,past_solve_problem
141201,165,A090007002,A090000007,1,2020-02-24 20:20:30,4725,9,7,2,0,0,0,0,0
141327,165,A090007002,A090000007,1,2020-03-20 05:20:39,4725,9,7,2,1,1,1,4,1
141393,165,A090007002,A090000007,0,2020-04-23 01:11:13,4725,9,7,2,1,2,0,6,2

과거에 해당 태그를 푼 횟수(틀렸는지 맞았는지 상관 X)

In [20]:
df['past_solve_tag'] = df.groupby(['userID', 'KnowledgeTag']).cumcount()

In [21]:
df[df['past_solve_problem']==2]

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,exam_num,test_num,question_num,user_shift,past_correct_answer,user_tag_shift,past_correct_tag_answer,past_solve_problem,past_solve_tag
141392,165,A090007001,A090000007,0,2020-04-23 01:11:09,4724,9,7,1,0,1,0,4,2,5
141393,165,A090007002,A090000007,0,2020-04-23 01:11:13,4725,9,7,2,1,2,0,6,2,10
141394,165,A090007003,A090000007,0,2020-04-23 01:11:24,4725,9,7,3,0,1,0,6,2,11
141395,165,A090007004,A090000007,0,2020-04-23 01:11:27,4697,9,7,4,1,2,1,7,2,12
141396,165,A090007005,A090000007,0,2020-04-23 01:11:30,4725,9,7,5,1,1,0,6,2,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2135281,3775,A020118001,A020000118,1,2020-10-23 09:03:19,8014,2,118,1,1,2,0,8,2,15
2135282,3775,A020118002,A020000118,1,2020-10-23 09:03:33,8014,2,118,2,1,2,1,9,2,16
2135283,3775,A020118003,A020000118,0,2020-10-23 09:03:50,8014,2,118,3,0,0,1,10,2,17
2135284,3775,A020118004,A020000118,1,2020-10-23 09:04:13,8014,2,118,4,1,1,0,10,2,18
2135285,3775,A020118005,A020000118,0,2020-10-23 09:04:44,8014,2,118,5,0,0,1,11,2,19

In [22]:
df[df['past_solve_tag']==2]

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,exam_num,test_num,question_num,user_shift,past_correct_answer,user_tag_shift,past_correct_tag_answer,past_solve_problem,past_solve_tag
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225,6,1,4,0,0,1,2,0,2
8,0,A060003003,A060000003,1,2020-03-26 05:53:14,7226,6,3,3,0,0,1,1,0,2
16,0,A060005004,A060000005,1,2020-03-31 05:03:26,7228,6,5,4,0,0,1,2,0,2
22,0,A060007003,A060000007,1,2020-04-02 04:54:04,7229,6,7,3,0,0,1,2,0,2
35,0,A060009003,A060000009,1,2020-04-07 01:43:31,7230,6,9,3,0,0,1,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2526679,7440,A050096004,A050000096,1,2020-08-19 04:58:27,5267,5,96,4,0,0,0,1,0,2
2526684,7440,A030136004,A030000136,0,2020-09-23 09:21:43,7691,3,136,4,0,0,1,2,0,2
2526688,7440,A030197003,A030000197,0,2020-10-21 08:33:15,1984,3,197,3,0,0,0,1,0,2
2526693,7441,A030071003,A030000071,1,2020-06-05 06:49:23,438,3,71,3,0,0,0,0,0,2
2526698,7441,A040165003,A040000165,1,2020-08-21 01:07:36,8836,4,165,3,0,0,1,2,0,2

In [23]:
df[(df['userID']==165) & (df['KnowledgeTag']==4724) & (df['exam_num']==9) & (df['test_num']==7) & (df['question_num']==1)]

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,exam_num,test_num,question_num,user_shift,past_correct_answer,user_tag_shift,past_correct_tag_answer,past_solve_problem,past_solve_tag
141200,165,A090007001,A090000007,1,2020-02-24 20:20:28,4724,9,7,1,0,0,0,0,0,0
141326,165,A090007001,A090000007,0,2020-03-20 05:19:58,4724,9,7,1,1,1,1,4,1,4
141392,165,A090007001,A090000007,0,2020-04-23 01:11:09,4724,9,7,1,0,1,0,4,2,5

In [24]:
df

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,exam_num,test_num,question_num,user_shift,past_correct_answer,user_tag_shift,past_correct_tag_answer,past_solve_problem,past_solve_tag
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224,6,1,1,0,0,0,0,0,0
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225,6,1,2,0,0,0,0,0,0
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225,6,1,3,0,0,1,1,0,1
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225,6,1,4,0,0,1,2,0,2
4,0,A060001005,A060000001,1,2020-03-24 00:17:36,7225,6,1,5,0,0,1,3,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2526695,7441,A030071005,A030000071,0,2020-06-05 06:50:21,438,3,71,5,0,0,0,1,0,4
2526696,7441,A040165001,A040000165,1,2020-08-21 01:06:39,8836,4,165,1,0,0,0,0,0,0
2526697,7441,A040165002,A040000165,1,2020-08-21 01:06:50,8836,4,165,2,0,0,1,1,0,1
2526698,7441,A040165003,A040000165,1,2020-08-21 01:07:36,8836,4,165,3,0,0,1,2,0,2
2526699,7441,A040165004,A040000165,1,2020-08-21 01:08:49,8836,4,165,4,0,0,1,3,0,3

In [25]:
df[df['answerCode']==-1]

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,exam_num,test_num,question_num,user_shift,past_correct_answer,user_tag_shift,past_correct_tag_answer,past_solve_problem,past_solve_tag
2989,3,A050133008,A050000133,-1,2020-10-26 13:13:57,5289,5,133,8,0,0,0,9,0,11
3660,4,A070146008,A070000146,-1,2020-12-27 02:47:54,9080,7,146,8,0,0,1,2,0,3
10860,13,A070111008,A070000111,-1,2020-12-27 04:35:09,9660,7,111,8,0,0,1,2,0,6
15278,17,A090064006,A090000064,-1,2020-10-30 05:48:37,2611,9,64,6,0,0,1,5,0,5
23531,26,A060135007,A060000135,-1,2020-10-23 11:44:18,1422,6,135,7,0,0,0,4,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2525938,7395,A040122005,A040000122,-1,2020-09-08 02:05:20,10615,4,122,5,0,0,0,0,0,2
2526081,7404,A030111005,A030000111,-1,2020-10-13 09:49:18,7636,3,111,5,0,0,1,2,0,4
2526282,7416,A050193004,A050000193,-1,2020-10-04 02:44:41,10402,5,193,4,0,0,0,2,0,3
2526297,7417,A050193004,A050000193,-1,2020-09-06 13:09:15,10402,5,193,4,0,0,0,2,0,3
2526675,7439,A040130005,A040000130,-1,2020-10-14 23:10:03,8832,4,130,5,0,0,1,1,0,2

학생 별 정답률 및 문제 별 정답률

In [26]:
df['total_problem_count'] = df.groupby(['assessmentItemID'])['answerCode'].cumcount()
df['answer_problem_count'] = df.groupby(['assessmentItemID'])['answerCode'].cumsum()

df['total_student_count'] = df.groupby(['userID'])['answerCode'].cumcount()
df['answer_student_count'] = df.groupby(['userID'])['answerCode'].cumsum()

df['total_tag_count'] = df.groupby(['KnowledgeTag'])['answerCode'].cumcount()
df['answer_tag_count'] = df.groupby(['KnowledgeTag'])['answerCode'].cumsum()

In [27]:
df[df['userID']==1]

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,exam_num,test_num,question_num,user_shift,...,user_tag_shift,past_correct_tag_answer,past_solve_problem,past_solve_tag,total_problem_count,answer_problem_count,total_student_count,answer_student_count,total_tag_count,answer_tag_count
745,1,A040013001,A040000013,1,2020-01-06 08:40:43,2048,4,13,1,0,...,0,0,0,0,0,1,0,1,0,1
746,1,A040013002,A040000013,1,2020-01-06 08:43:46,2048,4,13,2,0,...,1,1,0,1,0,1,1,2,1,2
747,1,A040013003,A040000013,1,2020-01-06 08:44:29,2047,4,13,3,0,...,0,0,0,0,0,1,2,3,0,1
748,1,A040013004,A040000013,1,2020-01-06 08:46:13,2047,4,13,4,0,...,1,1,0,1,0,1,3,4,1,2
749,1,A040013005,A040000013,0,2020-01-06 08:49:45,2047,4,13,5,0,...,1,2,0,2,0,0,4,4,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1673,1,A090074004,A090000074,1,2020-11-13 02:42:08,10196,9,74,4,0,...,1,2,0,2,0,1,928,792,2,3
1674,1,A090074002,A090000074,1,2020-11-13 02:44:34,4243,9,74,2,0,...,0,6,0,7,0,1,929,793,7,7
1675,1,A090074003,A090000074,1,2020-11-13 02:45:04,4243,9,74,3,0,...,1,7,0,8,0,1,930,794,8,8
1676,1,A090074005,A090000074,1,2020-11-13 02:46:38,2648,9,74,5,0,...,1,3,0,4,0,1,931,795,4,4
1677,1,A090074006,A090000074,1,2020-11-13 02:47:20,2648,9,74,6,0,...,1,4,0,5,0,1,932,796,5,5

In [28]:
df[df['assessmentItemID']=='A060001001']

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,exam_num,test_num,question_num,user_shift,...,user_tag_shift,past_correct_tag_answer,past_solve_problem,past_solve_tag,total_problem_count,answer_problem_count,total_student_count,answer_student_count,total_tag_count,answer_tag_count
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224,6,1,1,0,...,0,0,0,0,0,1,0,1,0,1
7630,10,A060001001,A060000001,1,2020-03-05 02:55:20,7224,6,1,1,0,...,0,0,0,0,1,2,0,1,1,2
17006,20,A060001001,A060000001,1,2020-03-03 05:52:03,7224,6,1,1,0,...,0,0,0,0,2,3,0,1,4,5
28513,32,A060001001,A060000001,1,2020-03-03 23:27:08,7224,6,1,1,0,...,0,0,0,0,3,4,0,1,6,7
32252,36,A060001001,A060000001,1,2020-02-28 16:38:08,7224,6,1,1,0,...,0,0,0,0,4,5,0,1,8,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2487509,6297,A060001001,A060000001,1,2020-03-03 14:42:20,7224,6,1,1,0,...,0,0,0,0,245,242,0,1,745,714
2489454,6338,A060001001,A060000001,1,2020-01-16 01:25:29,7224,6,1,1,0,...,0,0,0,0,246,243,0,1,746,715
2491808,6383,A060001001,A060000001,1,2020-04-03 05:13:35,7224,6,1,1,0,...,0,0,0,0,247,244,0,1,747,716
2511268,6830,A060001001,A060000001,1,2020-03-04 01:18:06,7224,6,1,1,0,...,0,0,0,0,248,245,0,1,748,717
2522741,7231,A060001001,A060000001,1,2020-05-25 09:32:46,7224,6,1,1,0,...,0,0,0,0,249,246,0,1,749,718

In [29]:
df[df['KnowledgeTag']==7224]

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,exam_num,test_num,question_num,user_shift,...,user_tag_shift,past_correct_tag_answer,past_solve_problem,past_solve_tag,total_problem_count,answer_problem_count,total_student_count,answer_student_count,total_tag_count,answer_tag_count
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224,6,1,1,0,...,0,0,0,0,0,1,0,1,0,1
7630,10,A060001001,A060000001,1,2020-03-05 02:55:20,7224,6,1,1,0,...,0,0,0,0,1,2,0,1,1,2
9544,13,A060011001,A060000011,1,2020-02-08 05:58:57,7224,6,11,1,0,...,0,0,0,0,0,1,0,1,2,3
9554,13,A060002006,A060000002,1,2020-02-08 06:16:02,7224,6,2,6,0,...,1,1,0,1,0,1,10,11,3,4
17006,20,A060001001,A060000001,1,2020-03-03 05:52:03,7224,6,1,1,0,...,0,0,0,0,2,3,0,1,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2487509,6297,A060001001,A060000001,1,2020-03-03 14:42:20,7224,6,1,1,0,...,0,0,0,0,245,242,0,1,745,714
2489454,6338,A060001001,A060000001,1,2020-01-16 01:25:29,7224,6,1,1,0,...,0,0,0,0,246,243,0,1,746,715
2491808,6383,A060001001,A060000001,1,2020-04-03 05:13:35,7224,6,1,1,0,...,0,0,0,0,247,244,0,1,747,716
2511268,6830,A060001001,A060000001,1,2020-03-04 01:18:06,7224,6,1,1,0,...,0,0,0,0,248,245,0,1,748,717
2522741,7231,A060001001,A060000001,1,2020-05-25 09:32:46,7224,6,1,1,0,...,0,0,0,0,249,246,0,1,749,718

In [30]:
P = df.groupby('userID')['answer_student_count'].last()
P

userID
0       470
1       796
2       169
3       716
4       464
       ...
7437      6
7438     12
7439     10
7440      6
7441      5
Name: answer_student_count, Length: 7442, dtype: int64

In [31]:
Q = df.groupby('userID')['total_student_count'].last()
Q

userID
0        744
1        932
2        275
3       1035
4        670
        ...
7437      15
7438      15
7439      15
7440      14
7441       8
Name: total_student_count, Length: 7442, dtype: int64

In [32]:
X = df.groupby('assessmentItemID')['answer_problem_count'].last()
X

assessmentItemID
A010001001    323
A010001002    336
A010001003    317
A010001004    331
A010001005    309
             ...
A090074002     24
A090074003     29
A090074004     18
A090074005     20
A090074006     18
Name: answer_problem_count, Length: 9454, dtype: int64

In [33]:
Y = df.groupby('assessmentItemID')['total_problem_count'].last()
Y

assessmentItemID
A010001001    349
A010001002    349
A010001003    349
A010001004    349
A010001005    349
             ...
A090074002     49
A090074003     49
A090074004     49
A090074005     49
A090074006     49
Name: total_problem_count, Length: 9454, dtype: int64

In [34]:
M = df.groupby('KnowledgeTag')['answer_tag_count'].last()
M

KnowledgeTag
23       1186
24        250
25         85
26       1649
30        318
         ...
11253    3513
11265     337
11269    1508
11270     144
11271     271
Name: answer_tag_count, Length: 912, dtype: int64

In [35]:
N = df.groupby('KnowledgeTag')['total_tag_count'].last()
N

KnowledgeTag
23       1999
24        399
25         99
26       2699
30        599
         ...
11253    4799
11265     499
11269    2699
11270     299
11271     599
Name: total_tag_count, Length: 912, dtype: int64

In [36]:
student_rate_dict = (P/Q).to_dict()
problem_rate_dict = (X/Y).to_dict()
tag_rate_dict = (M/N).to_dict()

In [37]:
df['student_correct_answer_rate'] = df['userID'].map(student_rate_dict)
df['problem_correct_answer_rate'] = df['assessmentItemID'].map(problem_rate_dict)
df['tag_correct_answer_rate'] = df['KnowledgeTag'].map(tag_rate_dict)

In [38]:
#df.drop(['user_shift', 'user_tag_shift'], inplace=True, axis=1)
df.drop(['user_shift', 'user_tag_shift', 'total_problem_count', 'answer_problem_count', 'total_student_count', 'answer_student_count', 'total_tag_count', 'answer_tag_count'], inplace=True, axis=1)

In [39]:
df

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,exam_num,test_num,question_num,past_correct_answer,past_correct_tag_answer,past_solve_problem,past_solve_tag,student_correct_answer_rate,problem_correct_answer_rate,tag_correct_answer_rate
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224,6,1,1,0,0,0,0,0.63172,0.987952,0.958611
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225,6,1,2,0,0,0,0,0.63172,0.971888,0.917311
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225,6,1,3,0,1,0,1,0.63172,0.919679,0.917311
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225,6,1,4,0,2,0,2,0.63172,0.975904,0.917311
4,0,A060001005,A060000001,1,2020-03-24 00:17:36,7225,6,1,5,0,3,0,3,0.63172,0.951807,0.917311
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2526695,7441,A030071005,A030000071,0,2020-06-05 06:50:21,438,3,71,5,0,1,0,4,0.62500,0.448161,0.695043
2526696,7441,A040165001,A040000165,1,2020-08-21 01:06:39,8836,4,165,1,0,0,0,0,0.62500,0.645485,0.698753
2526697,7441,A040165002,A040000165,1,2020-08-21 01:06:50,8836,4,165,2,0,1,0,1,0.62500,0.642140,0.698753
2526698,7441,A040165003,A040000165,1,2020-08-21 01:07:36,8836,4,165,3,0,2,0,2,0.62500,0.789298,0.698753
2526699,7441,A040165004,A040000165,1,2020-08-21 01:08:49,8836,4,165,4,0,3,0,3,0.62500,0.541806,0.698753

학생 문제풀이 평균 시간, 문제 당 평균 풀이 시간 채우기.

In [40]:
diff = df.groupby('userID')['Timestamp'].diff().fillna(pd.Timedelta(seconds=-1)) #마지막 문제는 새로 전처리 해야함.
diff = diff.apply(lambda x:x.total_seconds())

In [41]:
diff

0               -1.0
1                3.0
2                8.0
3                7.0
4                7.0
             ...
2526695         24.0
2526696    6632178.0
2526697         11.0
2526698         46.0
2526699         73.0
Name: Timestamp, Length: 2526700, dtype: float64

In [42]:
df[740:754]

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,exam_num,test_num,question_num,past_correct_answer,past_correct_tag_answer,past_solve_problem,past_solve_tag,student_correct_answer_rate,problem_correct_answer_rate,tag_correct_answer_rate
740,0,A080129002,A080000129,1,2020-12-23 03:35:54,2723,8,129,2,0,1,0,1,0.631720,0.355890,0.475594
741,0,A080129003,A080000129,0,2020-12-23 03:37:20,2725,8,129,3,0,0,0,0,0.631720,0.205514,0.297061
742,0,A080129004,A080000129,1,2020-12-23 03:38:43,2725,8,129,4,0,0,0,1,0.631720,0.433584,0.297061
743,0,A080129005,A080000129,0,2020-12-23 03:40:14,2725,8,129,5,0,1,0,2,0.631720,0.403509,0.297061
744,0,A080129006,A080000129,0,2020-12-23 03:40:19,2725,8,129,6,0,1,0,3,0.631720,0.147870,0.297061
745,1,A040013001,A040000013,1,2020-01-06 08:40:43,2048,4,13,1,0,0,0,0,0.854077,0.802676,0.613674
746,1,A040013002,A040000013,1,2020-01-06 08:43:46,2048,4,13,2,0,1,0,1,0.854077,0.622074,0.613674
747,1,A040013003,A040000013,1,2020-01-06 08:44:29,2047,4,13,3,0,0,0,0,0.854077,0.795987,0.576941
748,1,A040013004,A040000013,1,2020-01-06 08:46:13,2047,4,13,4,0,1,0,1,0.854077,0.391304,0.576941
749,1,A040013005,A040000013,0,2020-01-06 08:49:45,2047,4,13,5,0,2,0,2,0.854077,0.404682,0.576941
750,1,A040015001,A040000015,1,2020-01-08 13:37:26,2049,4,15,1,0,0,0,0,0.854077,0.832776,0.662013
751,1,A040015002,A040000015,1,2020-01-08 13:37:38,2049,4,15,2,0,1,0,1,0.854077,0.929766,0.662013
752,1,A040015003,A040000015,1,2020-01-08 13:39:43,2049,4,15,3,0,2,0,2,0.854077,0.434783,0.662013
753,1,A040015004,A040000015,1,2020-01-08 14:07:51,2049,4,15,4,0,3,0,3,0.854077,0.424749,0.662013

In [43]:
df['solve_time'] = diff.shift(-1).apply(lambda x:600 if x>600 else x)
df['solve_time'] = df['solve_time'].apply(lambda x:np.nan if x==-1 else x)

In [44]:
df[df['solve_time'] != df['solve_time']].head(10)

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,exam_num,test_num,question_num,past_correct_answer,past_correct_tag_answer,past_solve_problem,past_solve_tag,student_correct_answer_rate,problem_correct_answer_rate,tag_correct_answer_rate,solve_time
744,0,A080129006,A080000129,0,2020-12-23 03:40:19,2725,8,129,6,0,1,0,3,0.631720,0.147870,0.297061,NaN
1677,1,A090074006,A090000074,1,2020-11-13 02:47:20,2648,9,74,6,0,4,0,5,0.854077,0.367347,0.431438,NaN
1953,2,A050139007,A050000139,0,2020-10-20 11:32:26,428,5,139,7,0,0,0,6,0.614545,0.120482,0.674247,NaN
2989,3,A050133008,A050000133,-1,2020-10-26 13:13:57,5289,5,133,8,0,9,0,11,0.691787,0.530120,0.559249,NaN
3660,4,A070146008,A070000146,-1,2020-12-27 02:47:54,9080,7,146,8,0,2,0,3,0.692537,0.563758,0.541781,NaN
4493,5,A080138007,A080000138,1,2020-12-11 22:48:28,8431,8,138,7,0,3,0,3,0.796875,0.558233,0.466493,NaN
5414,6,A030145005,A030000145,0,2020-10-26 09:52:14,7817,3,145,5,0,1,0,9,0.443478,0.615385,0.614803,NaN
6226,7,A090052006,A090000052,1,2020-11-02 02:02:59,2600,9,52,6,0,0,0,1,0.607891,0.417671,0.349079,NaN
6762,8,A070060006,A070000060,0,2020-12-25 00:28:18,1260,7,60,6,0,12,0,16,0.642991,0.329317,0.462058,NaN
7629,9,A070158008,A070000158,1,2020-12-28 21:08:31,9797,7,158,8,0,5,0,7,0.682448,0.555556,0.539307,NaN

In [45]:
df.groupby('userID')[['solve_time']].median()['solve_time'].to_numpy()

array([27., 86., 43., ..., 35., 27., 43.])

In [46]:
df.loc[(df['solve_time']!=df['solve_time']),'solve_time']

744       NaN
1677      NaN
1953      NaN
2989      NaN
3660      NaN
           ..
2526643   NaN
2526659   NaN
2526675   NaN
2526690   NaN
2526699   NaN
Name: solve_time, Length: 7442, dtype: float64

In [47]:
df.loc[(df['solve_time']!=df['solve_time']),'solve_time'] = df.groupby('userID')[['solve_time']].median()['solve_time'].to_numpy()

In [48]:
df.isna().sum()

userID                         0
assessmentItemID               0
testId                         0
answerCode                     0
Timestamp                      0
KnowledgeTag                   0
exam_num                       0
test_num                       0
question_num                   0
past_correct_answer            0
past_correct_tag_answer        0
past_solve_problem             0
past_solve_tag                 0
student_correct_answer_rate    0
problem_correct_answer_rate    0
tag_correct_answer_rate        0
solve_time                     0
dtype: int64

In [49]:
df[df['solve_time'] != df['solve_time']]

Empty DataFrame
Columns: [userID, assessmentItemID, testId, answerCode, Timestamp, KnowledgeTag, exam_num, test_num, question_num, past_correct_answer, past_correct_tag_answer, past_solve_problem, past_solve_tag, student_correct_answer_rate, problem_correct_answer_rate, tag_correct_answer_rate, solve_time]
Index: []

In [50]:
df.groupby('userID')['solve_time'].last()

userID
0       27.0
1       86.0
2       43.0
3       42.0
4       54.0
        ...
7437    14.0
7438    81.0
7439    35.0
7440    27.0
7441    43.0
Name: solve_time, Length: 7442, dtype: float64

In [51]:
df.loc[(df['solve_time']!=df['solve_time']) & (df['answerCode']==0),'solve_time'] = 600

In [52]:
df.isna().sum()

userID                         0
assessmentItemID               0
testId                         0
answerCode                     0
Timestamp                      0
KnowledgeTag                   0
exam_num                       0
test_num                       0
question_num                   0
past_correct_answer            0
past_correct_tag_answer        0
past_solve_problem             0
past_solve_tag                 0
student_correct_answer_rate    0
problem_correct_answer_rate    0
tag_correct_answer_rate        0
solve_time                     0
dtype: int64

In [53]:
df['student_average_time'] = df['userID'].map(df.groupby('userID')['solve_time'].mean().to_dict())
df['problem_average_time'] = df['assessmentItemID'].map(df.groupby('assessmentItemID')['solve_time'].mean().to_dict())
df['tag_average_time'] = df['KnowledgeTag'].map(df.groupby('KnowledgeTag')['solve_time'].mean().to_dict())

In [54]:
df

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,exam_num,test_num,question_num,past_correct_answer,past_correct_tag_answer,past_solve_problem,past_solve_tag,student_correct_answer_rate,problem_correct_answer_rate,tag_correct_answer_rate,solve_time,student_average_time,problem_average_time,tag_average_time
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224,6,1,1,0,0,0,0,0.63172,0.987952,0.958611,3.0,118.644295,13.660000,17.728000
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225,6,1,2,0,0,0,0,0.63172,0.971888,0.917311,8.0,118.644295,26.112000,135.267200
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225,6,1,3,0,1,0,1,0.63172,0.919679,0.917311,7.0,118.644295,19.180000,135.267200
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225,6,1,4,0,2,0,2,0.63172,0.975904,0.917311,7.0,118.644295,18.076000,135.267200
4,0,A060001005,A060000001,1,2020-03-24 00:17:36,7225,6,1,5,0,3,0,3,0.63172,0.951807,0.917311,11.0,118.644295,35.468000,135.267200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2526695,7441,A030071005,A030000071,0,2020-06-05 06:50:21,438,3,71,5,0,1,0,4,0.62500,0.448161,0.695043,600.0,110.333333,569.653333,165.499333
2526696,7441,A040165001,A040000165,1,2020-08-21 01:06:39,8836,4,165,1,0,0,0,0,0.62500,0.645485,0.698753,11.0,110.333333,46.160000,157.797826
2526697,7441,A040165002,A040000165,1,2020-08-21 01:06:50,8836,4,165,2,0,1,0,1,0.62500,0.642140,0.698753,46.0,110.333333,30.363333,157.797826
2526698,7441,A040165003,A040000165,1,2020-08-21 01:07:36,8836,4,165,3,0,2,0,2,0.62500,0.789298,0.698753,73.0,110.333333,106.356667,157.797826
2526699,7441,A040165004,A040000165,1,2020-08-21 01:08:49,8836,4,165,4,0,3,0,3,0.62500,0.541806,0.698753,43.0,110.333333,517.141667,157.797826

In [55]:
df.isna().sum()

userID                         0
assessmentItemID               0
testId                         0
answerCode                     0
Timestamp                      0
KnowledgeTag                   0
exam_num                       0
test_num                       0
question_num                   0
past_correct_answer            0
past_correct_tag_answer        0
past_solve_problem             0
past_solve_tag                 0
student_correct_answer_rate    0
problem_correct_answer_rate    0
tag_correct_answer_rate        0
solve_time                     0
student_average_time           0
problem_average_time           0
tag_average_time               0
dtype: int64

년 월 일 추가.

In [56]:
df['year'] = df['Timestamp'].dt.year
df['month'] = df['Timestamp'].dt.month
df['day'] = df['Timestamp'].dt.day

In [57]:
df.groupby(['userID'])['answerCode'].count().min()

9

최근 10개 데이터 추가.

In [58]:
df['last_answerCode1'] = df.groupby('userID')['answerCode'].shift(1).fillna(method='bfill')
df['last_answerCode2'] = df.groupby("userID")['answerCode'].shift(2).fillna(method='bfill')
df['last_answerCode3'] = df.groupby("userID")['answerCode'].shift(3).fillna(method='bfill')
df['last_answerCode4'] = df.groupby("userID")['answerCode'].shift(4).fillna(method='bfill')
df['last_answerCode5'] = df.groupby("userID")['answerCode'].shift(5).fillna(method='bfill')
df['last_answerCode6'] = df.groupby("userID")['answerCode'].shift(6).fillna(method='bfill')
df['last_answerCode7'] = df.groupby("userID")['answerCode'].shift(7).fillna(method='bfill')
df['last_answerCode8'] = df.groupby("userID")['answerCode'].shift(8).fillna(method='bfill')
df['last_answerCode9'] = df.groupby("userID")['answerCode'].shift(9).fillna(method='bfill').fillna(1)
df['last_answerCode10'] = df.groupby("userID")['answerCode'].shift(10).fillna(method='bfill').fillna(1)

In [59]:
df.groupby(['userID'])['answerCode'].count().min()

9

In [60]:

df['last_answerCode1'] = df['last_answerCode1'].astype(int)
df['last_answerCode2'] = df['last_answerCode2'].astype(int)
df['last_answerCode3'] = df['last_answerCode3'].astype(int)
df['last_answerCode4'] = df['last_answerCode4'].astype(int)
df['last_answerCode5'] = df['last_answerCode5'].astype(int)
df['last_answerCode6'] = df['last_answerCode6'].astype(int)
df['last_answerCode7'] = df['last_answerCode7'].astype(int)
df['last_answerCode8'] = df['last_answerCode8'].astype(int)
df['last_answerCode9'] = df['last_answerCode9'].astype(int)
df['last_answerCode10'] = df['last_answerCode10'].astype(int)
df['solve_time'] = df['solve_time'].astype(int)

In [61]:
#지금 다 되어 있으니까 -1 부분만 떼서 validation 데이터 만들고 catboost로 학습시켜.
train_y = df.loc[df['answerCode']!=-1, 'answerCode'].reset_index()
train_x = df[df['answerCode']!=-1].drop(['answerCode'], axis=1).reset_index()
test_x = df[df['answerCode']==-1].drop(['answerCode'], axis=1).reset_index()

train_x.drop(['index', 'testId', 'assessmentItemID', 'Timestamp'], axis=1, inplace=True)
test_x.drop(['index', 'testId', 'assessmentItemID', 'Timestamp'], axis=1, inplace=True)
train_y.drop(['index'], axis=1, inplace=True)

Validation 셋 만들기

In [62]:
df[(df['answerCode']==-1)].index

Int64Index([   2989,    3660,   10860,   15278,   23531,   26895,   39887,
              47628,   51927,   57352,
            ...
            2525476, 2525493, 2525558, 2525712, 2525876, 2525938, 2526081,
            2526282, 2526297, 2526675],
           dtype='int64', length=744)

In [63]:
valid_df = df.drop(df[(df['answerCode']==-1)].index, axis=0)

In [64]:
valid_df

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,exam_num,test_num,question_num,past_correct_answer,...,last_answerCode1,last_answerCode2,last_answerCode3,last_answerCode4,last_answerCode5,last_answerCode6,last_answerCode7,last_answerCode8,last_answerCode9,last_answerCode10
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224,6,1,1,0,...,1,1,1,1,1,1,1,1,1,1
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225,6,1,2,0,...,1,1,1,1,1,1,1,1,1,1
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225,6,1,3,0,...,1,1,1,1,1,1,1,1,1,1
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225,6,1,4,0,...,1,1,1,1,1,1,1,1,1,1
4,0,A060001005,A060000001,1,2020-03-24 00:17:36,7225,6,1,5,0,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2526695,7441,A030071005,A030000071,0,2020-06-05 06:50:21,438,3,71,5,0,...,0,1,0,0,0,0,0,0,1,1
2526696,7441,A040165001,A040000165,1,2020-08-21 01:06:39,8836,4,165,1,0,...,0,0,1,0,0,0,0,0,1,1
2526697,7441,A040165002,A040000165,1,2020-08-21 01:06:50,8836,4,165,2,0,...,1,0,0,1,0,0,0,0,1,1
2526698,7441,A040165003,A040000165,1,2020-08-21 01:07:36,8836,4,165,3,0,...,1,1,0,0,1,0,0,0,1,1
2526699,7441,A040165004,A040000165,1,2020-08-21 01:08:49,8836,4,165,4,0,...,1,1,1,0,0,1,0,0,1,1

In [65]:
validset = valid_df.groupby('userID').last().reset_index()
validset

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,exam_num,test_num,question_num,past_correct_answer,...,last_answerCode1,last_answerCode2,last_answerCode3,last_answerCode4,last_answerCode5,last_answerCode6,last_answerCode7,last_answerCode8,last_answerCode9,last_answerCode10
0,0,A080129006,A080000129,0,2020-12-23 03:40:19,2725,8,129,6,0,...,0,1,0,1,1,0,1,0,1,1
1,1,A090074006,A090000074,1,2020-11-13 02:47:20,2648,9,74,6,0,...,1,1,1,1,0,1,1,1,1,1
2,2,A050139007,A050000139,0,2020-10-20 11:32:26,428,5,139,7,0,...,0,0,0,0,0,0,1,1,1,1
3,3,A050133007,A050000133,0,2020-10-26 13:13:11,5289,5,133,7,0,...,1,1,1,1,1,1,0,1,1,0
4,4,A070146007,A070000146,1,2020-12-27 02:47:31,9080,7,146,7,0,...,1,1,1,0,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7437,7437,A060003007,A060000003,0,2020-05-22 01:53:49,7226,6,3,7,0,...,1,0,0,0,0,0,0,0,0,1
7438,7438,A030188005,A030000188,1,2020-10-19 10:28:29,1934,3,188,5,0,...,1,1,0,1,1,1,0,1,1,0
7439,7439,A040130004,A040000130,1,2020-10-14 23:09:31,8244,4,130,4,0,...,1,1,0,1,0,0,1,1,1,0
7440,7440,A030197005,A030000197,0,2020-10-21 08:33:20,1984,3,197,5,0,...,0,0,0,1,0,0,1,1,1,0
7441,7441,A040165004,A040000165,1,2020-08-21 01:08:49,8836,4,165,4,0,...,1,1,1,0,0,1,0,0,1,1

In [66]:
valid_x = validset.drop(['answerCode', 'testId', 'assessmentItemID', 'Timestamp'], axis=1)
valid_y = validset.loc[:, 'answerCode'].reset_index().drop(['index'],axis=1)

In [67]:
valid_x

,userID,KnowledgeTag,exam_num,test_num,question_num,past_correct_answer,past_correct_tag_answer,past_solve_problem,past_solve_tag,student_correct_answer_rate,...,last_answerCode1,last_answerCode2,last_answerCode3,last_answerCode4,last_answerCode5,last_answerCode6,last_answerCode7,last_answerCode8,last_answerCode9,last_answerCode10
0,0,2725,8,129,6,0,1,0,3,0.631720,...,0,1,0,1,1,0,1,0,1,1
1,1,2648,9,74,6,0,4,0,5,0.854077,...,1,1,1,1,0,1,1,1,1,1
2,2,428,5,139,7,0,0,0,6,0.614545,...,0,0,0,0,0,0,1,1,1,1
3,3,5289,5,133,7,0,9,0,10,0.691787,...,1,1,1,1,1,1,0,1,1,0
4,4,9080,7,146,7,0,1,0,2,0.692537,...,1,1,1,0,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7437,7437,7226,6,3,7,0,1,0,6,0.400000,...,1,0,0,0,0,0,0,0,0,1
7438,7438,1934,3,188,5,0,3,0,4,0.800000,...,1,1,0,1,1,1,0,1,1,0
7439,7439,8244,4,130,4,0,1,0,1,0.666667,...,1,1,0,1,0,0,1,1,1,0
7440,7440,1984,3,197,5,0,1,0,4,0.428571,...,0,0,0,1,0,0,1,1,1,0
7441,7441,8836,4,165,4,0,3,0,3,0.625000,...,1,1,1,0,0,1,0,0,1,1

In [68]:
valid_y

      answerCode
0              0
1              1
2              0
3              0
4              1
...          ...
7437           0
7438           1
7439           1
7440           0
7441           1

[7442 rows x 1 columns]

In [69]:
train_x

,userID,KnowledgeTag,exam_num,test_num,question_num,past_correct_answer,past_correct_tag_answer,past_solve_problem,past_solve_tag,student_correct_answer_rate,...,last_answerCode1,last_answerCode2,last_answerCode3,last_answerCode4,last_answerCode5,last_answerCode6,last_answerCode7,last_answerCode8,last_answerCode9,last_answerCode10
0,0,7224,6,1,1,0,0,0,0,0.63172,...,1,1,1,1,1,1,1,1,1,1
1,0,7225,6,1,2,0,0,0,0,0.63172,...,1,1,1,1,1,1,1,1,1,1
2,0,7225,6,1,3,0,1,0,1,0.63172,...,1,1,1,1,1,1,1,1,1,1
3,0,7225,6,1,4,0,2,0,2,0.63172,...,1,1,1,1,1,1,1,1,1,1
4,0,7225,6,1,5,0,3,0,3,0.63172,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2525951,7441,438,3,71,5,0,1,0,4,0.62500,...,0,1,0,0,0,0,0,0,1,1
2525952,7441,8836,4,165,1,0,0,0,0,0.62500,...,0,0,1,0,0,0,0,0,1,1
2525953,7441,8836,4,165,2,0,1,0,1,0.62500,...,1,0,0,1,0,0,0,0,1,1
2525954,7441,8836,4,165,3,0,2,0,2,0.62500,...,1,1,0,0,1,0,0,0,1,1
2525955,7441,8836,4,165,4,0,3,0,3,0.62500,...,1,1,1,0,0,1,0,0,1,1

In [70]:
train_x

,userID,KnowledgeTag,exam_num,test_num,question_num,past_correct_answer,past_correct_tag_answer,past_solve_problem,past_solve_tag,student_correct_answer_rate,...,last_answerCode1,last_answerCode2,last_answerCode3,last_answerCode4,last_answerCode5,last_answerCode6,last_answerCode7,last_answerCode8,last_answerCode9,last_answerCode10
0,0,7224,6,1,1,0,0,0,0,0.63172,...,1,1,1,1,1,1,1,1,1,1
1,0,7225,6,1,2,0,0,0,0,0.63172,...,1,1,1,1,1,1,1,1,1,1
2,0,7225,6,1,3,0,1,0,1,0.63172,...,1,1,1,1,1,1,1,1,1,1
3,0,7225,6,1,4,0,2,0,2,0.63172,...,1,1,1,1,1,1,1,1,1,1
4,0,7225,6,1,5,0,3,0,3,0.63172,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2525951,7441,438,3,71,5,0,1,0,4,0.62500,...,0,1,0,0,0,0,0,0,1,1
2525952,7441,8836,4,165,1,0,0,0,0,0.62500,...,0,0,1,0,0,0,0,0,1,1
2525953,7441,8836,4,165,2,0,1,0,1,0.62500,...,1,0,0,1,0,0,0,0,1,1
2525954,7441,8836,4,165,3,0,2,0,2,0.62500,...,1,1,0,0,1,0,0,0,1,1
2525955,7441,8836,4,165,4,0,3,0,3,0.62500,...,1,1,1,0,0,1,0,0,1,1

In [71]:
test_x

,userID,KnowledgeTag,exam_num,test_num,question_num,past_correct_answer,past_correct_tag_answer,past_solve_problem,past_solve_tag,student_correct_answer_rate,...,last_answerCode1,last_answerCode2,last_answerCode3,last_answerCode4,last_answerCode5,last_answerCode6,last_answerCode7,last_answerCode8,last_answerCode9,last_answerCode10
0,3,5289,5,133,8,0,9,0,11,0.691787,...,0,1,1,1,1,1,1,0,1,1
1,4,9080,7,146,8,0,2,0,3,0.692537,...,1,1,1,1,0,1,1,0,0,1
2,13,9660,7,111,8,0,2,0,6,0.694529,...,1,0,0,0,1,1,0,1,0,0
3,17,2611,9,64,6,0,5,0,5,0.818110,...,1,1,1,1,1,1,1,1,1,1
4,26,1422,6,135,7,0,4,0,6,0.756477,...,0,1,0,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,7395,10615,4,122,5,0,0,0,2,0.260870,...,0,0,1,0,0,0,0,0,0,0
740,7404,7636,3,111,5,0,2,0,4,0.428571,...,1,1,0,0,0,1,0,0,0,1
741,7416,10402,5,193,4,0,2,0,3,0.428571,...,0,1,1,0,0,0,1,1,0,0
742,7417,10402,5,193,4,0,2,0,3,0.071429,...,0,1,1,0,0,0,0,0,0,0
743,7439,8832,4,130,5,0,1,0,2,0.666667,...,1,1,1,0,1,0,0,1,1,1

In [72]:
train_x.columns

Index(['userID', 'KnowledgeTag', 'exam_num', 'test_num', 'question_num',
       'past_correct_answer', 'past_correct_tag_answer', 'past_solve_problem',
       'past_solve_tag', 'student_correct_answer_rate',
       'problem_correct_answer_rate', 'tag_correct_answer_rate', 'solve_time',
       'student_average_time', 'problem_average_time', 'tag_average_time',
       'year', 'month', 'day', 'last_answerCode1', 'last_answerCode2',
       'last_answerCode3', 'last_answerCode4', 'last_answerCode5',
       'last_answerCode6', 'last_answerCode7', 'last_answerCode8',
       'last_answerCode9', 'last_answerCode10'],
      dtype='object')

In [73]:
train_y

         answerCode
0                 1
1                 1
2                 1
3                 1
4                 1
...             ...
2525951           0
2525952           1
2525953           1
2525954           1
2525955           1

[2525956 rows x 1 columns]

In [74]:
cat_params={
    "task_type" : "GPU",
    "devices" : '0',
    "random_state": 42,
    'learning_rate': 0.01, 
    'bagging_temperature': 0.15696396388661144, 
    'n_estimators': 4000, 
    'max_depth': 15, 
    'random_strength': 13, 
    'l2_leaf_reg': 5.887526043950164e-06, 
    'min_child_samples': 9, 
    'max_bin': 297, 
    'od_type': 'Iter',
}

xgb_params={
    "learning_rate" : 0.02,
    "n_estimators" : 1000,
    "max_depth":9
}


lgb_params = {'learning_rate': 0.01,
          'num_iterations':1000,
          'max_depth': 16,
          'boosting': 'gbdt',
          'objective': 'binary',
          'is_training_metric': True,
          'num_leaves': 144,
          'feature_fraction': 0.9,
          'bagging_fraction': 0.7,
          'bagging_freq': 5,
          'seed':2020}

In [75]:
train_x.columns

Index(['userID', 'KnowledgeTag', 'exam_num', 'test_num', 'question_num',
       'past_correct_answer', 'past_correct_tag_answer', 'past_solve_problem',
       'past_solve_tag', 'student_correct_answer_rate',
       'problem_correct_answer_rate', 'tag_correct_answer_rate', 'solve_time',
       'student_average_time', 'problem_average_time', 'tag_average_time',
       'year', 'month', 'day', 'last_answerCode1', 'last_answerCode2',
       'last_answerCode3', 'last_answerCode4', 'last_answerCode5',
       'last_answerCode6', 'last_answerCode7', 'last_answerCode8',
       'last_answerCode9', 'last_answerCode10'],
      dtype='object')

In [76]:
#train_x.drop(['past_solve_tag', 'past_correct_tag_answer','tag_correct_answer_rate','tag_average_time'],axis=1,inplace=True)

In [81]:
train_x['student_correct_answer_rate'].nunique()

5204

In [77]:
train_x

,userID,KnowledgeTag,exam_num,test_num,question_num,past_correct_answer,past_correct_tag_answer,past_solve_problem,past_solve_tag,student_correct_answer_rate,...,last_answerCode1,last_answerCode2,last_answerCode3,last_answerCode4,last_answerCode5,last_answerCode6,last_answerCode7,last_answerCode8,last_answerCode9,last_answerCode10
0,0,7224,6,1,1,0,0,0,0,0.63172,...,1,1,1,1,1,1,1,1,1,1
1,0,7225,6,1,2,0,0,0,0,0.63172,...,1,1,1,1,1,1,1,1,1,1
2,0,7225,6,1,3,0,1,0,1,0.63172,...,1,1,1,1,1,1,1,1,1,1
3,0,7225,6,1,4,0,2,0,2,0.63172,...,1,1,1,1,1,1,1,1,1,1
4,0,7225,6,1,5,0,3,0,3,0.63172,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2525951,7441,438,3,71,5,0,1,0,4,0.62500,...,0,1,0,0,0,0,0,0,1,1
2525952,7441,8836,4,165,1,0,0,0,0,0.62500,...,0,0,1,0,0,0,0,0,1,1
2525953,7441,8836,4,165,2,0,1,0,1,0.62500,...,1,0,0,1,0,0,0,0,1,1
2525954,7441,8836,4,165,3,0,2,0,2,0.62500,...,1,1,0,0,1,0,0,0,1,1
2525955,7441,8836,4,165,4,0,3,0,3,0.62500,...,1,1,1,0,0,1,0,0,1,1

In [78]:
model = CatBoostClassifier(**cat_params)
#cat_feat = [0, 1, 2, 3, 4, 5, 6, 7, 8, 12, 16,17,18,19,20,21,22,23,24,25,26,27,28]
model.fit(train_x, train_y, eval_set = (valid_x, valid_y))

pre = model.predict(test_x)

submit = pd.read_csv('/opt/ml/input/data/sample_submission.csv')
submit['prediction'] = pre
submit.to_csv('CatBoost_v4_tuning.csv', index=False)

/opt/conda/envs/DKT_Test/lib/python3.10/site-packages/catboost/core.py:1411: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  self._init_pool(data, label, cat_features, text_features, embedding_features, embedding_features_data, pairs, weight,

0:	learn: 0.6878667	test: 0.6898120	best: 0.6898120 (0)	total: 74.4ms	remaining: 4m 57s
1:	learn: 0.6826173	test: 0.6868393	best: 0.6868393 (1)	total: 389ms	remaining: 12m 56s
2:	learn: 0.6776332	test: 0.6836956	best: 0.6836956 (2)	total: 702ms	remaining: 15m 34s
3:	learn: 0.6733159	test: 0.6809052	best: 0.6809052 (3)	total: 767ms	remaining: 12m 46s
4:	learn: 0.6683666	test: 0.6778710	best: 0.6778710 (4)	total: 1.08s	remaining: 14m 23s
5:	learn: 0.6637507	test: 0.6749574	best: 0.6749574 (5)	total: 1.19s	remaining: 13m 9s
6:	learn: 0.6592043	test: 0.6718550	best: 0.6718550 (6)	total: 1.5s	remaining: 14m 18s
7:	learn: 0.6546713	test: 0.6691497	best: 0.6691497 (7)	total: 1.82s	remaining: 15m 8s
8:	learn: 0.6502245	test: 0.6663870	best: 0.6663870 (8)	total: 2.14s	remaining: 15m 47s
9:	learn: 0.6461879	test: 0.6638999	best: 0.6638999 (9)	total: 2.16s	remaining: 14m 22s
10:	learn: 0.6421218	test: 0.6611140	best: 0.6611140 (10)	total: 2.48s	remaining: 14m 58s
11:	learn: 0.6384719	test: 0.6585675	best: 0.6585675 (11)	total: 2.58s	remaining: 14m 19s
12:	learn: 0.6343264	test: 0.6555178	best: 0.6555178 (12)	total: 2.9s	remaining: 14m 49s
13:	learn: 0.6305475	test: 0.6534222	best: 0.6534222 (13)	total: 2.94s	remaining: 13m 57s
14:	learn: 0.6268757	test: 0.6513168	best: 0.6513168 (14)	total: 3.25s	remaining: 14m 24s
15:	learn: 0.6233067	test: 0.6486824	best: 0.6486824 (15)	total: 3.57s	remaining: 14m 49s
16:	learn: 0.6195178	test: 0.6461685	best: 0.6461685 (16)	total: 3.88s	remaining: 15m 9s
17:	learn: 0.6159416	test: 0.6436199	best: 0.6436199 (17)	total: 4.2s	remaining: 15m 29s
18:	learn: 0.6123853	test: 0.6410693	best: 0.6410693 (18)	total: 4.51s	remaining: 15m 45s
19:	learn: 0.6088645	test: 0.6386886	best: 0.6386886 (19)	total: 4.83s	remaining: 16m 1s
20:	learn: 0.6054676	test: 0.6364505	best: 0.6364505 (20)	total: 5.15s	remaining: 16m 15s
21:	learn: 0.6021552	test: 0.6343712	best: 0.6343712 (21)	total: 5.46s	remaining: 16m 27s
22:	learn: 0.5988767	test: 0.6324003	best: 0.6324003 (22)	total: 5.78s	remaining: 16m 38s
23:	learn: 0.5958984	test: 0.6298572	best: 0.6298572 (23)	total: 6.09s	remaining: 16m 48s
24:	learn: 0.5926959	test: 0.6278443	best: 0.6278443 (24)	total: 6.4s	remaining: 16m 58s
25:	learn: 0.5896953	test: 0.6257957	best: 0.6257957 (25)	total: 6.59s	remaining: 16m 47s
26:	learn: 0.5867381	test: 0.6239318	best: 0.6239318 (26)	total: 6.9s	remaining: 16m 55s
27:	learn: 0.5837732	test: 0.6220013	best: 0.6220013 (27)	total: 7.22s	remaining: 17m 3s
28:	learn: 0.5812178	test: 0.6200302	best: 0.6200302 (28)	total: 7.54s	remaining: 17m 12s
29:	learn: 0.5784457	test: 0.6181069	best: 0.6181069 (29)	total: 7.85s	remaining: 17m 19s
30:	learn: 0.5756777	test: 0.6164256	best: 0.6164256 (30)	total: 8.17s	remaining: 17m 26s
31:	learn: 0.5731881	test: 0.6149012	best: 0.6149012 (31)	total: 8.49s	remaining: 17m 32s
32:	learn: 0.5706753	test: 0.6130091	best: 0.6130091 (32)	total: 8.81s	remaining: 17m 38s
33:	learn: 0.5681698	test: 0.6110751	best: 0.6110751 (33)	total: 9.13s	remaining: 17m 44s
34:	learn: 0.5664422	test: 0.6101387	best: 0.6101387 (34)	total: 9.14s	remaining: 17m 15s
35:	learn: 0.5640848	test: 0.6088946	best: 0.6088946 (35)	total: 9.46s	remaining: 17m 21s
36:	learn: 0.5621813	test: 0.6075130	best: 0.6075130 (36)	total: 9.5s	remaining: 16m 57s
37:	learn: 0.5598244	test: 0.6060060	best: 0.6060060 (37)	total: 9.81s	remaining: 17m 3s
38:	learn: 0.5580594	test: 0.6050435	best: 0.6050435 (38)	total: 9.83s	remaining: 16m 38s
39:	learn: 0.5559762	test: 0.6036204	best: 0.6036204 (39)	total: 9.88s	remaining: 16m 18s
40:	learn: 0.5538171	test: 0.6020514	best: 0.6020514 (40)	total: 10.2s	remaining: 16m 25s
41:	learn: 0.5516567	test: 0.6004901	best: 0.6004901 (41)	total: 10.5s	remaining: 16m 31s
42:	learn: 0.5502309	test: 0.5997207	best: 0.5997207 (42)	total: 10.5s	remaining: 16m 9s
43:	learn: 0.5482002	test: 0.5981930	best: 0.5981930 (43)	total: 10.9s	remaining: 16m 15s
44:	learn: 0.5462765	test: 0.5969701	best: 0.5969701 (44)	total: 11.2s	remaining: 16m 21s
45:	learn: 0.5442919	test: 0.5955434	best: 0.5955434 (45)	total: 11.5s	remaining: 16m 27s
46:	learn: 0.5428152	test: 0.5946148	best: 0.5946148 (46)	total: 11.5s	remaining: 16m 8s
47:	learn: 0.5409733	test: 0.5933994	best: 0.5933994 (47)	total: 11.8s	remaining: 16m 13s
48:	learn: 0.5391477	test: 0.5920617	best: 0.5920617 (48)	total: 12.1s	remaining: 16m 19s
49:	learn: 0.5373171	test: 0.5904336	best: 0.5904336 (49)	total: 12.5s	remaining: 16m 24s
50:	learn: 0.5356338	test: 0.5892950	best: 0.5892950 (50)	total: 12.8s	remaining: 16m 29s
51:	learn: 0.5339400	test: 0.5881637	best: 0.5881637 (51)	total: 13.1s	remaining: 16m 34s
52:	learn: 0.5324501	test: 0.5873150	best: 0.5873150 (52)	total: 13.4s	remaining: 16m 38s
53:	learn: 0.5307200	test: 0.5862304	best: 0.5862304 (53)	total: 13.7s	remaining: 16m 43s
54:	learn: 0.5292977	test: 0.5854560	best: 0.5854560 (54)	total: 14s	remaining: 16m 47s
55:	learn: 0.5277158	test: 0.5841764	best: 0.5841764 (55)	total: 14.4s	remaining: 16m 51s
56:	learn: 0.5261379	test: 0.5822792	best: 0.5822792 (56)	total: 14.7s	remaining: 16m 55s
57:	learn: 0.5247125	test: 0.5812002	best: 0.5812002 (57)	total: 15s	remaining: 16m 58s
58:	learn: 0.5232382	test: 0.5803268	best: 0.5803268 (58)	total: 15.3s	remaining: 17m 2s
59:	learn: 0.5218213	test: 0.5792189	best: 0.5792189 (59)	total: 15.6s	remaining: 17m 5s
60:	learn: 0.5205122	test: 0.5784199	best: 0.5784199 (60)	total: 15.9s	remaining: 17m 9s
61:	learn: 0.5191468	test: 0.5775445	best: 0.5775445 (61)	total: 16.3s	remaining: 17m 13s
62:	learn: 0.5177417	test: 0.5764545	best: 0.5764545 (62)	total: 16.6s	remaining: 17m 16s
63:	learn: 0.5164705	test: 0.5756403	best: 0.5756403 (63)	total: 16.9s	remaining: 17m 19s
64:	learn: 0.5151492	test: 0.5747331	best: 0.5747331 (64)	total: 17.2s	remaining: 17m 22s
65:	learn: 0.5139151	test: 0.5738767	best: 0.5738767 (65)	total: 17.3s	remaining: 17m 12s
66:	learn: 0.5126014	test: 0.5730879	best: 0.5730879 (66)	total: 17.6s	remaining: 17m 15s
67:	learn: 0.5113447	test: 0.5722767	best: 0.5722767 (67)	total: 18s	remaining: 17m 18s
68:	learn: 0.5103252	test: 0.5716430	best: 0.5716430 (68)	total: 18s	remaining: 17m 4s
69:	learn: 0.5091177	test: 0.5709155	best: 0.5709155 (69)	total: 18.3s	remaining: 17m 7s
70:	learn: 0.5079516	test: 0.5702538	best: 0.5702538 (70)	total: 18.6s	remaining: 17m 10s
71:	learn: 0.5068521	test: 0.5692609	best: 0.5692609 (71)	total: 18.9s	remaining: 17m 13s
72:	learn: 0.5057282	test: 0.5686089	best: 0.5686089 (72)	total: 19.3s	remaining: 17m 15s
73:	learn: 0.5046553	test: 0.5679826	best: 0.5679826 (73)	total: 19.6s	remaining: 17m 18s
74:	learn: 0.5035672	test: 0.5672188	best: 0.5672188 (74)	total: 19.9s	remaining: 17m 21s
75:	learn: 0.5026400	test: 0.5666381	best: 0.5666381 (75)	total: 20.2s	remaining: 17m 23s
76:	learn: 0.5018552	test: 0.5661966	best: 0.5661966 (76)	total: 20.2s	remaining: 17m 10s
77:	learn: 0.5010006	test: 0.5657310	best: 0.5657310 (77)	total: 20.3s	remaining: 17m
78:	learn: 0.4999400	test: 0.5647521	best: 0.5647521 (78)	total: 20.6s	remaining: 17m 3s
79:	learn: 0.4989114	test: 0.5640055	best: 0.5640055 (79)	total: 20.9s	remaining: 17m 6s
80:	learn: 0.4978796	test: 0.5632875	best: 0.5632875 (80)	total: 21.3s	remaining: 17m 8s
81:	learn: 0.4969865	test: 0.5625969	best: 0.5625969 (81)	total: 21.6s	remaining: 17m 10s
82:	learn: 0.4962329	test: 0.5621940	best: 0.5621940 (82)	total: 21.6s	remaining: 17m
83:	learn: 0.4953944	test: 0.5614576	best: 0.5614576 (83)	total: 21.9s	remaining: 17m 2s
84:	learn: 0.4945744	test: 0.5608465	best: 0.5608465 (84)	total: 22.2s	remaining: 17m 4s
85:	learn: 0.4937210	test: 0.5602301	best: 0.5602301 (85)	total: 22.6s	remaining: 17m 6s
86:	learn: 0.4929329	test: 0.5593258	best: 0.5593258 (86)	total: 22.9s	remaining: 17m 8s
87:	learn: 0.4920880	test: 0.5588223	best: 0.5588223 (87)	total: 23.2s	remaining: 17m 10s
88:	learn: 0.4913384	test: 0.5582671	best: 0.5582671 (88)	total: 23.5s	remaining: 17m 12s
89:	learn: 0.4905589	test: 0.5576835	best: 0.5576835 (89)	total: 23.8s	remaining: 17m 14s
90:	learn: 0.4899076	test: 0.5573003	best: 0.5573003 (90)	total: 23.9s	remaining: 17m 4s
91:	learn: 0.4891314	test: 0.5567356	best: 0.5567356 (91)	total: 24.2s	remaining: 17m 6s
92:	learn: 0.4884384	test: 0.5562687	best: 0.5562687 (92)	total: 24.5s	remaining: 17m 8s
93:	learn: 0.4877276	test: 0.5557085	best: 0.5557085 (93)	total: 24.8s	remaining: 17m 10s
94:	learn: 0.4869837	test: 0.5551244	best: 0.5551244 (94)	total: 25.1s	remaining: 17m 12s
95:	learn: 0.4864015	test: 0.5548643	best: 0.5548643 (95)	total: 25.1s	remaining: 17m 2s
96:	learn: 0.4856922	test: 0.5543235	best: 0.5543235 (96)	total: 25.5s	remaining: 17m 4s
97:	learn: 0.4849934	test: 0.5539161	best: 0.5539161 (97)	total: 25.8s	remaining: 17m 6s
98:	learn: 0.4843395	test: 0.5534043	best: 0.5534043 (98)	total: 26.1s	remaining: 17m 8s
99:	learn: 0.4836724	test: 0.5528828	best: 0.5528828 (99)	total: 26.4s	remaining: 17m 10s
100:	learn: 0.4830960	test: 0.5524047	best: 0.5524047 (100)	total: 26.7s	remaining: 17m 11s
101:	learn: 0.4825197	test: 0.5519661	best: 0.5519661 (101)	total: 26.8s	remaining: 17m 4s
102:	learn: 0.4818887	test: 0.5511508	best: 0.5511508 (102)	total: 27.1s	remaining: 17m 5s
103:	learn: 0.4814256	test: 0.5508854	best: 0.5508854 (103)	total: 27.2s	remaining: 16m 57s
104:	learn: 0.4808234	test: 0.5504216	best: 0.5504216 (104)	total: 27.5s	remaining: 16m 59s
105:	learn: 0.4802833	test: 0.5500951	best: 0.5500951 (105)	total: 27.8s	remaining: 17m
106:	learn: 0.4798374	test: 0.5498243	best: 0.5498243 (106)	total: 27.9s	remaining: 16m 53s
107:	learn: 0.4792423	test: 0.5494621	best: 0.5494621 (107)	total: 28.2s	remaining: 16m 55s
108:	learn: 0.4785826	test: 0.5488915	best: 0.5488915 (108)	total: 28.5s	remaining: 16m 57s
109:	learn: 0.4780087	test: 0.5485405	best: 0.5485405 (109)	total: 28.8s	remaining: 16m 59s
110:	learn: 0.4774321	test: 0.5481419	best: 0.5481419 (110)	total: 29.1s	remaining: 17m
111:	learn: 0.4768868	test: 0.5478528	best: 0.5478528 (111)	total: 29.4s	remaining: 17m 2s
112:	learn: 0.4764694	test: 0.5476131	best: 0.5476131 (112)	total: 29.5s	remaining: 16m 55s
113:	learn: 0.4759880	test: 0.5472817	best: 0.5472817 (113)	total: 29.8s	remaining: 16m 56s
114:	learn: 0.4755556	test: 0.5469211	best: 0.5469211 (114)	total: 29.9s	remaining: 16m 51s
115:	learn: 0.4752228	test: 0.5466773	best: 0.5466773 (115)	total: 30s	remaining: 16m 43s
116:	learn: 0.4748267	test: 0.5464473	best: 0.5464473 (116)	total: 30s	remaining: 16m 36s
117:	learn: 0.4743346	test: 0.5459530	best: 0.5459530 (117)	total: 30.3s	remaining: 16m 38s
118:	learn: 0.4739029	test: 0.5455661	best: 0.5455661 (118)	total: 30.7s	remaining: 16m 39s
119:	learn: 0.4735106	test: 0.5453264	best: 0.5453264 (119)	total: 31s	remaining: 16m 41s
120:	learn: 0.4730557	test: 0.5449711	best: 0.5449711 (120)	total: 31.3s	remaining: 16m 43s
121:	learn: 0.4725590	test: 0.5447487	best: 0.5447487 (121)	total: 31.6s	remaining: 16m 44s
122:	learn: 0.4721135	test: 0.5444900	best: 0.5444900 (122)	total: 31.9s	remaining: 16m 46s
123:	learn: 0.4717007	test: 0.5442070	best: 0.5442070 (123)	total: 32.2s	remaining: 16m 47s
124:	learn: 0.4712486	test: 0.5435861	best: 0.5435861 (124)	total: 32.6s	remaining: 16m 49s
125:	learn: 0.4708116	test: 0.5432180	best: 0.5432180 (125)	total: 32.9s	remaining: 16m 50s
126:	learn: 0.4704290	test: 0.5428985	best: 0.5428985 (126)	total: 33.2s	remaining: 16m 51s
127:	learn: 0.4700524	test: 0.5426107	best: 0.5426107 (127)	total: 33.5s	remaining: 16m 53s
128:	learn: 0.4696366	test: 0.5423317	best: 0.5423317 (128)	total: 33.8s	remaining: 16m 55s
129:	learn: 0.4692491	test: 0.5421102	best: 0.5421102 (129)	total: 34.2s	remaining: 16m 56s
130:	learn: 0.4688944	test: 0.5418723	best: 0.5418723 (130)	total: 34.5s	remaining: 16m 58s
131:	learn: 0.4687128	test: 0.5417900	best: 0.5417900 (131)	total: 34.5s	remaining: 16m 50s
132:	learn: 0.4683851	test: 0.5414929	best: 0.5414929 (132)	total: 34.8s	remaining: 16m 51s
133:	learn: 0.4680097	test: 0.5410880	best: 0.5410880 (133)	total: 35.1s	remaining: 16m 53s
134:	learn: 0.4678135	test: 0.5410264	best: 0.5410264 (134)	total: 35.1s	remaining: 16m 46s
135:	learn: 0.4674097	test: 0.5406655	best: 0.5406655 (135)	total: 35.5s	remaining: 16m 47s
136:	learn: 0.4672265	test: 0.5406327	best: 0.5406327 (136)	total: 35.5s	remaining: 16m 40s
137:	learn: 0.4668790	test: 0.5404817	best: 0.5404817 (137)	total: 35.8s	remaining: 16m 41s
138:	learn: 0.4666936	test: 0.5403743	best: 0.5403743 (138)	total: 35.8s	remaining: 16m 34s
139:	learn: 0.4663696	test: 0.5400242	best: 0.5400242 (139)	total: 36.1s	remaining: 16m 36s
140:	learn: 0.4659951	test: 0.5386397	best: 0.5386397 (140)	total: 36.4s	remaining: 16m 37s
141:	learn: 0.4656502	test: 0.5384164	best: 0.5384164 (141)	total: 36.8s	remaining: 16m 38s
142:	learn: 0.4652897	test: 0.5381884	best: 0.5381884 (142)	total: 37.1s	remaining: 16m 39s
143:	learn: 0.4649116	test: 0.5378440	best: 0.5378440 (143)	total: 37.4s	remaining: 16m 41s
144:	learn: 0.4647087	test: 0.5377090	best: 0.5377090 (144)	total: 37.4s	remaining: 16m 34s
145:	learn: 0.4644130	test: 0.5374848	best: 0.5374848 (145)	total: 37.7s	remaining: 16m 35s
146:	learn: 0.4641337	test: 0.5371873	best: 0.5371873 (146)	total: 38s	remaining: 16m 37s
147:	learn: 0.4637952	test: 0.5369727	best: 0.5369727 (147)	total: 38.4s	remaining: 16m 38s
148:	learn: 0.4635170	test: 0.5366923	best: 0.5366923 (148)	total: 38.7s	remaining: 16m 39s
149:	learn: 0.4633899	test: 0.5366210	best: 0.5366210 (149)	total: 38.7s	remaining: 16m 33s
150:	learn: 0.4630996	test: 0.5362906	best: 0.5362906 (150)	total: 39s	remaining: 16m 34s
151:	learn: 0.4628659	test: 0.5360833	best: 0.5360833 (151)	total: 39.3s	remaining: 16m 35s
152:	learn: 0.4625622	test: 0.5357167	best: 0.5357167 (152)	total: 39.6s	remaining: 16m 36s
153:	learn: 0.4622572	test: 0.5354704	best: 0.5354704 (153)	total: 40s	remaining: 16m 38s
154:	learn: 0.4620498	test: 0.5354429	best: 0.5354429 (154)	total: 40s	remaining: 16m 33s
155:	learn: 0.4618169	test: 0.5353080	best: 0.5353080 (155)	total: 40.1s	remaining: 16m 28s
156:	learn: 0.4615757	test: 0.5351462	best: 0.5351462 (156)	total: 40.4s	remaining: 16m 29s
157:	learn: 0.4613481	test: 0.5350277	best: 0.5350277 (157)	total: 40.7s	remaining: 16m 30s
158:	learn: 0.4610742	test: 0.5345414	best: 0.5345414 (158)	total: 41.1s	remaining: 16m 31s
159:	learn: 0.4609359	test: 0.5344530	best: 0.5344530 (159)	total: 41.1s	remaining: 16m 25s
160:	learn: 0.4607622	test: 0.5343433	best: 0.5343433 (160)	total: 41.2s	remaining: 16m 22s
161:	learn: 0.4605484	test: 0.5341469	best: 0.5341469 (161)	total: 41.4s	remaining: 16m 20s
162:	learn: 0.4602922	test: 0.5340212	best: 0.5340212 (162)	total: 41.7s	remaining: 16m 21s
163:	learn: 0.4600347	test: 0.5337813	best: 0.5337813 (163)	total: 42s	remaining: 16m 22s
164:	learn: 0.4598835	test: 0.5336643	best: 0.5336643 (164)	total: 42.1s	remaining: 16m 17s
165:	learn: 0.4597300	test: 0.5336202	best: 0.5336202 (165)	total: 42.1s	remaining: 16m 12s
166:	learn: 0.4595008	test: 0.5334508	best: 0.5334508 (166)	total: 42.4s	remaining: 16m 13s
167:	learn: 0.4592067	test: 0.5326436	best: 0.5326436 (167)	total: 42.7s	remaining: 16m 14s
168:	learn: 0.4590393	test: 0.5325212	best: 0.5325212 (168)	total: 42.8s	remaining: 16m 9s
169:	learn: 0.4588877	test: 0.5324562	best: 0.5324562 (169)	total: 42.8s	remaining: 16m 3s
170:	learn: 0.4586928	test: 0.5323235	best: 0.5323235 (170)	total: 43.1s	remaining: 16m 5s
171:	learn: 0.4584721	test: 0.5320830	best: 0.5320830 (171)	total: 43.4s	remaining: 16m 6s
172:	learn: 0.4583561	test: 0.5319819	best: 0.5319819 (172)	total: 43.4s	remaining: 16m 1s
173:	learn: 0.4581610	test: 0.5317962	best: 0.5317962 (173)	total: 43.8s	remaining: 16m 2s
174:	learn: 0.4579982	test: 0.5316134	best: 0.5316134 (174)	total: 44.1s	remaining: 16m 3s
175:	learn: 0.4578091	test: 0.5315090	best: 0.5315090 (175)	total: 44.4s	remaining: 16m 4s
176:	learn: 0.4576215	test: 0.5314403	best: 0.5314403 (176)	total: 44.7s	remaining: 16m 5s
177:	learn: 0.4574150	test: 0.5312528	best: 0.5312528 (177)	total: 45s	remaining: 16m 6s
178:	learn: 0.4572423	test: 0.5310519	best: 0.5310519 (178)	total: 45.3s	remaining: 16m 7s
179:	learn: 0.4569957	test: 0.5306997	best: 0.5306997 (179)	total: 45.6s	remaining: 16m 8s
180:	learn: 0.4567869	test: 0.5304390	best: 0.5304390 (180)	total: 46s	remaining: 16m 9s
181:	learn: 0.4566899	test: 0.5304094	best: 0.5304094 (181)	total: 46s	remaining: 16m 4s
182:	learn: 0.4564655	test: 0.5294428	best: 0.5294428 (182)	total: 46.3s	remaining: 16m 5s
183:	learn: 0.4563045	test: 0.5292084	best: 0.5292084 (183)	total: 46.6s	remaining: 16m 6s
184:	learn: 0.4561033	test: 0.5289784	best: 0.5289784 (184)	total: 46.9s	remaining: 16m 7s
185:	learn: 0.4559009	test: 0.5286747	best: 0.5286747 (185)	total: 47.3s	remaining: 16m 8s
186:	learn: 0.4557166	test: 0.5285566	best: 0.5285566 (186)	total: 47.6s	remaining: 16m 9s
187:	learn: 0.4554734	test: 0.5283906	best: 0.5283906 (187)	total: 47.9s	remaining: 16m 11s
188:	learn: 0.4553715	test: 0.5283640	best: 0.5283640 (188)	total: 47.9s	remaining: 16m 6s
189:	learn: 0.4552628	test: 0.5282984	best: 0.5282984 (189)	total: 47.9s	remaining: 16m 1s
190:	learn: 0.4551038	test: 0.5282020	best: 0.5282020 (190)	total: 48.3s	remaining: 16m 2s
191:	learn: 0.4549466	test: 0.5281287	best: 0.5281287 (191)	total: 48.6s	remaining: 16m 3s
192:	learn: 0.4547852	test: 0.5279285	best: 0.5279285 (192)	total: 48.9s	remaining: 16m 4s
193:	learn: 0.4546224	test: 0.5277734	best: 0.5277734 (193)	total: 49.2s	remaining: 16m 5s
194:	learn: 0.4543945	test: 0.5273863	best: 0.5273863 (194)	total: 49.5s	remaining: 16m 6s
195:	learn: 0.4542309	test: 0.5270214	best: 0.5270214 (195)	total: 49.8s	remaining: 16m 7s
196:	learn: 0.4541389	test: 0.5269544	best: 0.5269544 (196)	total: 49.9s	remaining: 16m 2s
197:	learn: 0.4539761	test: 0.5268696	best: 0.5268696 (197)	total: 50.2s	remaining: 16m 3s
198:	learn: 0.4538111	test: 0.5266523	best: 0.5266523 (198)	total: 50.5s	remaining: 16m 4s
199:	learn: 0.4536672	test: 0.5265483	best: 0.5265483 (199)	total: 50.8s	remaining: 16m 5s
200:	learn: 0.4533921	test: 0.5264548	best: 0.5264548 (200)	total: 51.1s	remaining: 16m 6s
201:	learn: 0.4532290	test: 0.5261683	best: 0.5261683 (201)	total: 51.5s	remaining: 16m 7s
202:	learn: 0.4530638	test: 0.5260038	best: 0.5260038 (202)	total: 51.8s	remaining: 16m 8s
203:	learn: 0.4529112	test: 0.5257541	best: 0.5257541 (203)	total: 52.1s	remaining: 16m 9s
204:	learn: 0.4528331	test: 0.5257030	best: 0.5257030 (204)	total: 52.1s	remaining: 16m 4s
205:	learn: 0.4526791	test: 0.5255247	best: 0.5255247 (205)	total: 52.4s	remaining: 16m 5s
206:	learn: 0.4525495	test: 0.5254284	best: 0.5254284 (206)	total: 52.7s	remaining: 16m 6s
207:	learn: 0.4524940	test: 0.5253908	best: 0.5253908 (207)	total: 52.8s	remaining: 16m 1s
208:	learn: 0.4523406	test: 0.5251527	best: 0.5251527 (208)	total: 53.1s	remaining: 16m 2s
209:	learn: 0.4522040	test: 0.5249361	best: 0.5249361 (209)	total: 53.4s	remaining: 16m 3s
210:	learn: 0.4520434	test: 0.5246397	best: 0.5246397 (210)	total: 53.7s	remaining: 16m 4s
211:	learn: 0.4519169	test: 0.5244393	best: 0.5244393 (211)	total: 54s	remaining: 16m 5s
212:	learn: 0.4518512	test: 0.5243720	best: 0.5243720 (212)	total: 54.1s	remaining: 16m 1s
213:	learn: 0.4517290	test: 0.5241951	best: 0.5241951 (213)	total: 54.4s	remaining: 16m 1s
214:	learn: 0.4516089	test: 0.5240892	best: 0.5240892 (214)	total: 54.7s	remaining: 16m 2s
215:	learn: 0.4514474	test: 0.5239419	best: 0.5239419 (215)	total: 55s	remaining: 16m 3s
216:	learn: 0.4513131	test: 0.5238347	best: 0.5238347 (216)	total: 55.3s	remaining: 16m 4s
217:	learn: 0.4511966	test: 0.5237523	best: 0.5237523 (217)	total: 55.6s	remaining: 16m 5s
218:	learn: 0.4510678	test: 0.5236179	best: 0.5236179 (218)	total: 55.9s	remaining: 16m 5s
219:	learn: 0.4509507	test: 0.5234430	best: 0.5234430 (219)	total: 56.3s	remaining: 16m 6s
220:	learn: 0.4508050	test: 0.5231354	best: 0.5231354 (220)	total: 56.6s	remaining: 16m 7s

SystemError: <method '_train' of '_catboost._CatBoost' objects> returned a result with an exception set

In [ ]:
train_y

         answerCode
0                 1
1                 1
2                 1
3                 1
4                 1
...             ...
2525951           0
2525952           1
2525953           1
2525954           1
2525955           1

[2525956 rows x 1 columns]

In [ ]:
from xgboost import XGBClassifier

model = XGBClassifier()
model.fit(train_x, train_y, eval_set = [(valid_x, valid_y)], eval_metric = 'auc',early_stopping_rounds=100)

pre = model.predict(test_x)

submit = pd.read_csv('/opt/ml/input/data/sample_submission.csv')
submit['prediction'] = pre
submit.to_csv('XGBoost_tuning.csv', index=False)

/opt/conda/envs/DKT_Test/lib/python3.10/site-packages/xgboost/sklearn.py:835: UserWarning: `eval_metric` in `fit` method is deprecated for better compatibility with scikit-learn, use `eval_metric` in constructor or`set_params` instead.
  warnings.warn(
/opt/conda/envs/DKT_Test/lib/python3.10/site-packages/xgboost/sklearn.py:835: UserWarning: `early_stopping_rounds` in `fit` method is deprecated for better compatibility with scikit-learn, use `early_stopping_rounds` in constructor or`set_params` instead.
  warnings.warn(

[0]	validation_0-auc:0.77605
[1]	validation_0-auc:0.78277
[2]	validation_0-auc:0.78740
[3]	validation_0-auc:0.79362
[4]	validation_0-auc:0.79419
[5]	validation_0-auc:0.79742
[6]	validation_0-auc:0.79876
[7]	validation_0-auc:0.80123
[8]	validation_0-auc:0.80206
[9]	validation_0-auc:0.80250
[10]	validation_0-auc:0.80387
[11]	validation_0-auc:0.80416
[12]	validation_0-auc:0.80513
[13]	validation_0-auc:0.80599
[14]	validation_0-auc:0.80627
[15]	validation_0-auc:0.80693
[16]	validation_0-auc:0.80746
[17]	validation_0-auc:0.80789
[18]	validation_0-auc:0.80819
[19]	validation_0-auc:0.80876
[20]	validation_0-auc:0.80917
[21]	validation_0-auc:0.80939
[22]	validation_0-auc:0.80983
[23]	validation_0-auc:0.80989
[24]	validation_0-auc:0.80993
[25]	validation_0-auc:0.81043
[26]	validation_0-auc:0.81062
[27]	validation_0-auc:0.81107
[28]	validation_0-auc:0.81130
[29]	validation_0-auc:0.81135
[30]	validation_0-auc:0.81156
[31]	validation_0-auc:0.81171
[32]	validation_0-auc:0.81192
[33]	validation_0-auc:0.81207
[34]	validation_0-auc:0.81227
[35]	validation_0-auc:0.81258
[36]	validation_0-auc:0.81271
[37]	validation_0-auc:0.81311
[38]	validation_0-auc:0.81362
[39]	validation_0-auc:0.81366
[40]	validation_0-auc:0.81386
[41]	validation_0-auc:0.81393
[42]	validation_0-auc:0.81398
[43]	validation_0-auc:0.81414
[44]	validation_0-auc:0.81445
[45]	validation_0-auc:0.81453
[46]	validation_0-auc:0.81460
[47]	validation_0-auc:0.81482
[48]	validation_0-auc:0.81491
[49]	validation_0-auc:0.81508
[50]	validation_0-auc:0.81523
[51]	validation_0-auc:0.81531
[52]	validation_0-auc:0.81542
[53]	validation_0-auc:0.81548
[54]	validation_0-auc:0.81550
[55]	validation_0-auc:0.81566
[56]	validation_0-auc:0.81554
[57]	validation_0-auc:0.81562
[58]	validation_0-auc:0.81576
[59]	validation_0-auc:0.81603
[60]	validation_0-auc:0.81601
[61]	validation_0-auc:0.81610
[62]	validation_0-auc:0.81612
[63]	validation_0-auc:0.81666
[64]	validation_0-auc:0.81669
[65]	validation_0-auc:0.81679
[66]	validation_0-auc:0.81685
[67]	validation_0-auc:0.81708
[68]	validation_0-auc:0.81708
[69]	validation_0-auc:0.81716
[70]	validation_0-auc:0.81748
[71]	validation_0-auc:0.81770
[72]	validation_0-auc:0.81780
[73]	validation_0-auc:0.81788
[74]	validation_0-auc:0.81795
[75]	validation_0-auc:0.81795
[76]	validation_0-auc:0.81809
[77]	validation_0-auc:0.81815
[78]	validation_0-auc:0.81823
[79]	validation_0-auc:0.81873
[80]	validation_0-auc:0.81885
[81]	validation_0-auc:0.81881
[82]	validation_0-auc:0.81880
[83]	validation_0-auc:0.81883
[84]	validation_0-auc:0.81881
[85]	validation_0-auc:0.81918
[86]	validation_0-auc:0.81924
[87]	validation_0-auc:0.81923
[88]	validation_0-auc:0.81934
[89]	validation_0-auc:0.81935
[90]	validation_0-auc:0.81938
[91]	validation_0-auc:0.81947
[92]	validation_0-auc:0.81948
[93]	validation_0-auc:0.81965
[94]	validation_0-auc:0.81968
[95]	validation_0-auc:0.81982
[96]	validation_0-auc:0.81981
[97]	validation_0-auc:0.82006
[98]	validation_0-auc:0.82006
[99]	validation_0-auc:0.82029

In [ ]:
import lightgbm as lgb

lgb_train = lgb.Dataset(train_x, train_y)
lgb_test = lgb.Dataset(valid_x, valid_y)

model = lgb.train(lgb_params, lgb_train, valid_sets=[lgb_train, lgb_test], verbose_eval=100, num_boost_round=500, early_stopping_rounds=100)

pre = model.predict(test_x)

submit = pd.read_csv('/opt/ml/input/data/sample_submission.csv')
submit['prediction'] = pre
submit.to_csv('LGBM_tuning.csv', index=False)

/opt/conda/envs/DKT_Test/lib/python3.10/site-packages/lightgbm/engine.py:177: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  _log_warning(f"Found `{alias}` in params. Will use it instead of argument")
/opt/conda/envs/DKT_Test/lib/python3.10/site-packages/lightgbm/engine.py:181: UserWarning: 'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. Pass 'early_stopping()' callback via 'callbacks' argument instead.
  _log_warning("'early_stopping_rounds' argument is deprecated and will be removed in a future release of LightGBM. "
/opt/conda/envs/DKT_Test/lib/python3.10/site-packages/lightgbm/engine.py:239: UserWarning: 'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. "

[LightGBM] [Info] Number of positive: 1653588, number of negative: 872368
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.214884 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 2686
[LightGBM] [Info] Number of data points in the train set: 2525956, number of used features: 29
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.654638 -> initscore=0.639491
[LightGBM] [Info] Start training from score 0.639491
Training until validation scores don't improve for 100 rounds
[100]	training's binary_logloss: 0.49891	valid_1's binary_logloss: 0.588887
[200]	training's binary_logloss: 0.464938	valid_1's binary_logloss: 0.551566
[300]	training's binary_logloss: 0.454588	valid_1's binary_logloss: 0.539333
[400]	training's binary_logloss: 0.450308	valid_1's binary_logloss: 0.533754
[500]	training's binary_logloss: 0.448003	valid_1's binary_logloss: 0.53068
[600]	training's binary_logloss: 0.446317	valid_1's binary_logloss: 0.52856
[700]	training's binary_logloss: 0.444955	valid_1's binary_logloss: 0.526616
[800]	training's binary_logloss: 0.443849	valid_1's binary_logloss: 0.525001
[900]	training's binary_logloss: 0.442829	valid_1's binary_logloss: 0.523086
[1000]	training's binary_logloss: 0.441969	valid_1's binary_logloss: 0.521678
Did not meet early stopping. Best iteration is:
[1000]	training's binary_logloss: 0.441969	valid_1's binary_logloss: 0.521678